@page {
  width: 21cm;
  height: 29.7cm;

  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
  font-family: "Cairo", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  padding-block-start: 60px;
  margin: auto;
}

.header {
  margin: auto;
  padding-inline: 20px;
  max-width: 980px;
  padding-block-end: 40px;
}

.h1 {
  line-height: 1;
}

.h2 {
  border-block-end: solid 1px rgba(100, 100, 100, 1);
}

.section {
  padding-block-end: 30px;
  width: 100%;
}

.profession-name {
  font-size: 1.2rem;
  padding-block-end: 15px;
}

.line {
  position: absolute;
  inset-inline-start: 0px;
  width: 430px;
  height: 5px;
  background-color: rgba(100, 100, 100, 1);
}

.main {
  margin: auto;
  padding-inline: 20px;
  max-width: 1020px;
}

.list {
  list-style: none;
  padding-block: 10px;
}

.link {
  color: initial;
  text-decoration: none;
}

.link:visited,
.link:active {
  text-decoration: none;
  color: initial;
}

.link:hover {
  text-decoration: underline;
}

.about-me {
  padding-inline: 10px;
  padding-block-end: 40px;
}

.about-me__story {
  font-size: 1.1rem;
}

.columns {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 60px;
}

.skills__item {
  display: inline-block;
}

.skills__item::after {
  content: '·';
  padding-inline: 5px;
}

.skills__item:last-of-type::after {
  content: '';
  padding-inline: 0px;
}


.institute__info-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.institute__description::before {
  content: '‣';
  padding-inline-end: 5px;
}

.span_skill {
  font-weight: 700;
}

.contact-info__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.links__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.links__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

.icon_github:hover {
  fill: #24292f;
}

.icon_linkedin:hover {
  fill: #0a66c2;
}

.links__print {
  display: none;
}


@media screen and (450px > width) {
  .columns {
    grid-template-columns: 1fr;
  }
}

@media print {
  .header {
    padding-block-end: 0px;
  }

  .links__print {
    display: block;
  }

  .links__list {
    gap: 20px;
  }

  .links__name {
    width: 100%;
    font-weight: 700;
  }

  .links__item {
    gap: 0px;
  }

  .icon_github {
    display: none;
  }

  .icon_linkedin {
    display: none;
  }
}
